
nav {
    margin-bottom: 10px;
}

article.note {
    padding: 10px;
}

article.note a {
    color: inherit;
}

article.checklist a {
    color: inherit;
}

label[contenteditable]:focus {
    outline: 0px solid transparent;
}

p.last-edit {
    margin: 0;
    font-size: small;
    color: grey;
}

a.remove-todo-item {
    position: relative;
    top: 10px;
    right: 10px;
    
}
     
     
 
