
nav{
    margin-bottom: 10px;
}

article.note{
    padding: 10px;
}

article.note a{
    color: inherit;
}
article.checklist a{
    color: inherit;
}

label[contenteditable]:focus {
    outline: 0px solid transparent;
}
